[Desktop Entry]
Name=McManjaro
X-KDE-PluginInfo-Author=henrygrand
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=henrygrand@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=McManjaro
X-KDE-PluginInfo-Version=1.0
